.selected {
    background-color: orange;
  }

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.image {
    background-image: url('../../media/pomeranian.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 140px;
    height: 140px;
}

.time-display, .image-container {
    margin-bottom: 10px;
}

.time-display {
    display: flex;
    align-items: flex-end;
    font-size: 32px;
    height: 41px;
}

.time-display span {
    padding: 0 5px;
}

.select-container {
    position:relative;
    display: inline;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:white;
    border: 1px solid darkslategray;
    border-radius: 3px;
    padding: 5px 22px 5px 8px;
    font-size: 30px;
    color: inherit;
    cursor: pointer;
}

.select-container:after {
    content:"";
    width:0;
    height:0;
    position: absolute;
    pointer-events: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 50%;
    right: 8px;
    border-top: 8px solid black;
    opacity: 0.5;
}

select::-ms-expand {
    display: none;
}

.button-container {
    display: flex;
}

.button-container button {
    display: flex;
    align-items: center;
}

.settings {
    display: flex;
    align-items: center;
}

.settings img {
    width: 17px;
    margin-right: 5px;
}

.stop {
    display: flex;
}

.stop span {
    display: flex;
    padding-top: 1px;
    font-size: 22px;
    line-height: 19px;
}
