button {
    border: none;
    border-radius: 4px;
    background-color: slategray;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:not(:last-child) {
    margin-right: 4px;
}

button:hover, .selected {
    background-color: orange;
}

button:active {
    background-color: rgb(244, 189, 88);
}

.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 200px;
}

.image {
    width: 140px;
    height: 140px;
}

/* .imageContainer div:first-child {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.imageContainer div:last-child {
    margin-top: 10px;
    width: max-content;
} */

.timeDisplay, .imageContainer {
    margin-bottom: 10px;
}

.timeDisplay {
    font-size: 32px;
}