.App {
  text-align: center;
}

.App-main {
  position: relative;
  background-image: url('./media/pompom_bkgrd.jpeg');
  background-size: cover;
  min-height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: slategray;
  justify-content: center;
  padding: 10px;
}

canvas {
  position: absolute;
}

button {
  border: none;
  border-radius: 4px;
  background-color: slategray;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 15px;
  height: 45px;
}

button:not(:last-child) {
  margin-right: 8px;
}

button:active {
  background-color: rgb(244, 189, 88);
  outline: none;
  font-weight: 500;
}

button:focus-visible {
  outline: 2px solid black;
  font-weight: 700;
}


@media only screen and (min-height: 768px) {
  .App-header h1 {
    position: absolute;
    top: 10%;
    margin: 0;
  }
}

@media screen and (min-width: 1024px){
  button {
      height: 35px;
  }

  button:hover {
      background-color: rgb(236, 147, 4);
  }
}